@keyframes show {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8); 
  }

  100% { 
    opacity: 1;
    transform: scale3d(1, 1, 1); 
  }
}

@keyframes shrink {
  0% { 
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% { 
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8); 
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

:global .emoji-picker {
  --animation-duration: 0.2s;
  --animation-easing: ease-in-out;

  --blue-color: #4F81E5;

  --border-radius: 5px;
  --content-height: 22rem;

  --emoji-per-row: 8;
  --emoji-preview-size: 2em;
  --emoji-size: 1.8em;
  --emoji-size-multiplier: 1.5;

  --category-button-height: 2em;
  --category-button-size: 1.1em;
  --category-border-bottom-size: 4px;

  --search-height: 2em;

  --overlay-background-color: rgba(0, 0, 0, 0.8);

  --emoji-font: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";
  --ui-font: Arial, Helvetica, sans-serif;

  background: var(--background-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-family: var(--ui-font);
  font-size: 16px;
  overflow: hidden;
  position: relative;
  width: calc(var(--emoji-per-row) * var(--emoji-size) * var(--emoji-size-multiplier) + 1em + 1.5rem);
}

:global .emoji-picker :local {
  animation: show var(--animation-duration) var(--animation-easing);
}

:global .emoji-picker * {
  font-family: var(--ui-font);
  box-sizing: content-box;
}

:global .emoji-picker:local(.hiding) :local {
  animation: hide var(--animation-duration) var(--animation-easing);
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  height: var(--content-height);
  padding: 0.5em;
  position: relative;
}

.preview {
  align-items: center;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  height: var(--emoji-preview-size);
  padding: 0.5em;
}

.preview-emoji {
  font-size: var(--emoji-preview-size);
  margin-right: 0.25em;
  font-family: var(--emoji-font);
}

:global img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.preview-name {
  color: var(--text-color);
  font-size: 0.85em;
  overflow-wrap: break-word;
  word-break: break-all;
}

.emoji-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(var(--emoji-per-row), calc(var(--emoji-size) * var(--emoji-size-multiplier)));
  grid-auto-rows: calc(var(--emoji-size) * var(--emoji-size-multiplier));
}

.search-results {
  height: var(--content-height);
  overflow-y: auto;
}

.custom-emoji {
  width: 1em;
  height: 1em;
}

.emoji {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--emoji-font);
  font-size: var(--emoji-size);
  height: 1.5em;
  justify-content: center;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  width: 1.5em;
}

.emoji:focus, .emoji:hover {
  background: var(--hover-color);
}

.emoji:focus {
  outline: 1px dotted var(--focus-indicator-color);
}

.plugin-container {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
}

.search-container {
  display: flex;
  height: var(--search-height);
  margin: 0.5em;
  position: relative;
}

.search {
  background: var(--search-background-color);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 0.85em;
  outline: none;
  padding-right: 2em;
  padding: 0.5em 2.25em 0.5em 0.5em;
  width: 100%;
}

.search::placeholder {
  color: var(--search-placeholder-color);
}

.search:focus {
  border: 1px solid var(--search-focus-border-color);
}

.search-icon {
  color: var(--search-icon-color);
  height: 1em;
  position: absolute;
  right: 0.75em;
  top: calc(50% - 0.5em);
  width: 1em;
}

.search-icon img {
  width: 1em;
  height: 1em;
}

.search-not-found {
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.search-not-found div {
  color: var(--secondary-text-color);
}

.search-not-found-message {
  color: var(--secondary-text-color);
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

.search-not-found-icon {
  font-size: 3em;
}

.search-not-found-icon img {
  width: 1em;
  height: 1em;
}

.variant-overlay {
  animation: fade-in var(--animation-duration) var(--animation-easing);
  background: var(--overlay-background-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.variant-overlay.hiding {
  animation: fade-out var(--animation-duration) var(--animation-easing);
}

.variant-popup {
  animation: grow var(--animation-duration) var(--animation-easing);
  background: var(--popup-background-color);
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  user-select: none;
}

.variant-overlay.hiding .variant-popup {
  animation: shrink var(--animation-duration) var(--animation-easing);
}

.emojis {
  height: calc(var(--content-height) - var(--category-button-height));
  overflow-y: auto;
  position: relative;
}

.emojis.hiding {
  animation: fade-out 0.05s var(--animation-easing);
}

.emojis .category-name {
  align-items: center;
  color: var(--secondary-text-color);
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0;
  text-align: left;
}

.emojis .category-name .category-name-label {
  margin-left: 0.25em;
}

.category-buttons {
  display: flex;
  flex-direction: row;
  height: var(--category-button-height);
  justify-content: space-around;
  margin-bottom: 0.5em;
}

button.category-button {
  background: transparent;
  border-bottom: var(--category-border-bottom-size) solid transparent;
  border: none;
  color: var(--category-button-color);
  cursor: pointer;
  flex-grow: 1;
  font-size: var(--category-button-size);
  outline: none;
  padding: 0;
  vertical-align: middle;
}

button.category-button img {
  width: var(--category-button-size);
  height: var(--category-button-size);
}

.keyboard button.category-button:focus {
  outline: 1px dotted var(--focus-indicator-color);
}

 button.category-button.active {
  color: var(--category-button-active-color);
  border-bottom: var(--category-border-bottom-size) solid var(--category-button-active-color);
 }
 